version: '3.7'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-container
    ports:
      - "3308:3306"
    volumes:
      - dbdata:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD : root
      MYSQL_DATABASE : game-db
      MYSQL_USER : user
      MYSQL_PASSWORD : password

volumes:
  dbdata:
